@model Clinica.Models.Consulta
@{
    ViewData["Title"] = "Detalhes da Consulta";
}

<h1 class="mb-4">Detalhes da Consulta</h1>

<div class="card p-4 shadow-sm">
    <dl class="row">
        <dt class="col-sm-3">Tratamento</dt>
        <dd class="col-sm-9">@Model.Tratamento</dd>

        <dt class="col-sm-3">Data e Hora</dt>
        <dd class="col-sm-9">@Model.DatadaConsulta.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">Paciente</dt>
        <dd class="col-sm-9">@Model.PacienteConsultas.Select(pc => pc.Paciente.Nome))
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
        <button type="submit" class="btn btn-danger">Excluir<i class="mx-1 bi bi-trash"></i></button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar<i class="mx-1 bi bi-x-circle"></i></a>
    </form>
    
    

</div>
