@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Estética & Saúde</h1>

    <p>"Renove sua beleza, realce sua confiança."</p>
    <div>
        <img src="/img/logoHome.jpeg" />
    </div>
</div>
