@model Clinica.Models.Paciente

@{
    ViewData["Title"] = "Excluir Paciente";
}

<div class="container mt-4">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <hr />

    <div class="alert alert-warning">
        Tem certeza que deseja excluir o paciente <strong>@Model.Nome</strong>?
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Excluir<i class="mx-1 bi bi-trash"></i></button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar<i class="mx-1 bi bi-x-circle"></i></a>
    </form>
</div>

